[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - denisidoro/cheats: Community-sourced cheatsheets for navi
Comment=
Icon=user-bookmarks
URL=https://github.com/denisidoro/cheats
