[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - siduck/chadwm: Making dwm as beautiful as possible!
Comment=
Icon=user-bookmarks
URL=https://github.com/siduck/chadwm
