[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - drewgrif/dwm-setup: 🪟 Minimalist DWM build with curated patches, themes, and sxhkd-powered keybindings.
Comment=
Icon=user-bookmarks
URL=https://github.com/drewgrif/dwm-setup
