[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - TenderOwl/Frog: Extract text from any image, video, QR Code and etc.
Comment=
Icon=user-bookmarks
URL=https://github.com/TenderOwl/Frog
