[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - LukeSmithxyz/mutt-wizard: A system for automatically configuring mutt and isync with a simple interface and safe passwords
Comment=
Icon=user-bookmarks
URL=https://github.com/LukeSmithxyz/mutt-wizard
