[Desktop Entry]
Version=1.0
Type=Link
Name=OpenShot Video Editor | Free, Open, and Award-Winning Video Editor for Linux, Mac, and Windows!
Comment=
Icon=user-bookmarks
URL=https://www.openshot.org/
