[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - atuinsh/atuin: ✨ Magical shell history
Comment=
Icon=user-bookmarks
URL=https://github.com/atuinsh/atuin
