[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - kraanzu/smassh: Smassh your Keyboard, TUI Edition
Comment=
Icon=user-bookmarks
URL=https://github.com/kraanzu/smassh
