[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - ilikenwf/apt-fast: apt-fast: A shellscript wrapper for apt that speeds up downloading of packages.
Comment=
Icon=internet-web-browser
URL=https://github.com/ilikenwf/apt-fast
