[Desktop Entry]
Version=1.0
Type=Link
Name=How To USE QEMU KVM GPU Passthrough in Linux Using VFIO || GPU Sharing With Virtual Machine - YouTube
Comment=
Icon=internet-web-browser
URL=https://www.youtube.com/watch?v=g--fe8_kEcw
