[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - justchokingaround/lobster: mmm lobster
Comment=
Icon=user-bookmarks
URL=https://github.com/justchokingaround/lobster
