[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - chubin/cheat.sh: the only cheat sheet you need
Comment=
Icon=user-bookmarks
URL=https://github.com/chubin/cheat.sh
