[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - denisidoro/navi: An interactive cheatsheet tool for the command-line
Comment=
Icon=user-bookmarks
URL=https://github.com/denisidoro/navi
