[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - siduck/st: snazzy terminal (suckless + beautiful)
Comment=
Icon=user-bookmarks
URL=https://github.com/siduck/st
