[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - LukeSmithxyz/st: Luke's fork of the suckless simple terminal (st) with vim bindings and Xresource compatibility.
Comment=
Icon=user-bookmarks
URL=https://github.com/LukeSmithxyz/st
