[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - vyonizr/ffmpeg-scripts: A collection of scripts to simplify ffmpeg actions
Comment=
Icon=user-bookmarks
URL=https://github.com/vyonizr/ffmpeg-scripts
