[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - janparisek/FFMPEG-Scripts: A bunch of super useful scripts to do various things with FFMPEG, an awesome piece of software.
Comment=
Icon=user-bookmarks
URL=https://github.com/janparisek/FFMPEG-Scripts
