[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - NapoleonWils0n/ffmpeg-scripts: ffmpeg shell scripts
Comment=
Icon=user-bookmarks
URL=https://github.com/NapoleonWils0n/ffmpeg-scripts
