[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - onemarcfifty/kali-linux-docker: Run Kali Linux in a Docker Container
Comment=
Icon=user-bookmarks
URL=https://github.com/onemarcfifty/kali-linux-docker
