[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - 0xacx/chatGPT-shell-cli: Simple shell script to use OpenAI's ChatGPT and DALL-E from the terminal. No Python or JS required.
Comment=
Icon=internet-web-browser
URL=https://github.com/0xacx/chatGPT-shell-cli
