[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - aandrew-me/tgpt: AI Chatbots in terminal without needing API keys
Comment=
Icon=user-bookmarks
URL=https://github.com/aandrew-me/tgpt
