[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - IanLeCorbeau/hardening-project: Hardened kernel, sysctls, boot params et all.
Comment=
Icon=user-bookmarks
URL=https://github.com/IanLeCorbeau/hardening-project?tab=readme-ov-file
