[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - sickcodes/dock-droid: Docker Android - Run QEMU Android in a Docker! X11 Forwarding! CI/CD for Android!
Comment=
Icon=user-bookmarks
URL=https://github.com/sickcodes/dock-droid
