[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - TibixDev/winboat: Run Windows apps on 🐧 Linux with ✨ seamless integration
Comment=
Icon=user-bookmarks
URL=https://github.com/TibixDev/winboat
