[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - ohmybash/oh-my-bash: A delightful community-driven framework for managing your bash configuration, and an auto-update tool so that makes it easy to keep up with the latest updates from the community.
Comment=
Icon=user-bookmarks
URL=https://github.com/ohmybash/oh-my-bash
