[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - Bash-it/bash-it: A community Bash framework.
Comment=
Icon=user-bookmarks
URL=https://github.com/Bash-it/bash-it
