[Desktop Entry]
Version=1.0
Type=Link
Name=wik/wik at main · yashsinghcodes/wik · GitHub
Comment=
Icon=user-bookmarks
URL=https://github.com/yashsinghcodes/wik
