[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - LukeSmithxyz/dwm: Luke's build of dwm
Comment=
Icon=user-bookmarks
URL=https://github.com/LukeSmithxyz/dwm
