[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - BreadOnPenguins/dwm: my build of dwm, with a heavily commented dwm.c :^)
Comment=
Icon=user-bookmarks
URL=https://github.com/BreadOnPenguins/dwm
