[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - bakkeby/dwm-flexipatch: A dwm build with preprocessor directives to decide which patches to include during build time
Comment=
Icon=user-bookmarks
URL=https://github.com/bakkeby/dwm-flexipatch
