[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - theniceboy/dwm: A bloated build of dwm with systemtray, gaps, customized tags and other appearance changes
Comment=
Icon=user-bookmarks
URL=https://github.com/theniceboy/dwm
