[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - umrian/dwm: Simple minimal dwm setup compatible with picom, pywal and polybar
Comment=
Icon=user-bookmarks
URL=https://github.com/umrian/dwm
