[Desktop Entry]
Version=1.0
Type=Link
Name=ChadWM - Suckless Rice For The Modern Man - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=1TjqzwvBj8U
