[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - gh0stzk/st-terminal: Beautiful, elegant and functional terminal emulator
Comment=
Icon=user-bookmarks
URL=https://github.com/gh0stzk/st-terminal
