[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - BreadOnPenguins/st: my fork of st - xresources, alpha, scrollback
Comment=
Icon=user-bookmarks
URL=https://github.com/BreadOnPenguins/st
