[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - maximilionus/android-qemu-launcher: Utility and docs to run hardware-accelerated Android images on Linux QEMU KVM
Comment=
Icon=user-bookmarks
URL=https://github.com/maximilionus/android-qemu-launcher
