[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - kiddae/polybar-themes: (Deprecated) A repository of themes for polybar.
Comment=
Icon=user-bookmarks
URL=https://github.com/kiddae/polybar-themes
