[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - jamielinux/bashmount: Tool to mount and unmount removable media from the command-line
Comment=
Icon=user-bookmarks
URL=https://github.com/jamielinux/bashmount
